<!-- 底部链接和声明 -->
<div id="link">
  <div class="w1200"> 
    <h2>合作连接</h2>
    <div class="linka"> 
    	<a href="#">国家人口与健康科学数据共享平台</a>
    	<a href="#">中国妇产科网教学视频</a>
      <a href="#">协和医学杂志</a>
    	<a href="#">国家卫生计生委</a>
    	<a href="#">北京协和医院</a>
    	<a href="#">国家科技部</a>
    	<a href="#">国家自然科学基金委</a>
    	<a href="#">国家教育部</a>
    	<a href="#">国家中医药管理局</a>
    	<a href="#">国家知识产权局</a>
    </div> 
  <div class="copyright"> 
  	<div>Copyright &copy; Peking Union Medical College Hospital. All Rights Reserved. </div>
   	 <div>中国医学科学院北京协和医院 版权所有</div>
  </div>
</div>