<div id="detail">
	<div class="w1200" >
		<div class="datashare" >
			<div class="databox">
				<h1 class="tag1"></h1>
				<ul class="datalist">
					<li><a href="/datashare/disease/common">常见病</a></li>
					<li><a href="/datashare/disease/rare">疑难罕见病</a></li>
					<li><a href="#">肿瘤</a></li>
					<li><a href="#">慢性病</a></li>
					<li><a href="#">急性及传染性疾病</a></li>
					<li><a href="#">其它</a></li>
				</ul>
			</div>
			<div class="databox">
				<h1 class="tag2"></h1>
				<ul class="datalist">
					<li><a href="#">X线</a></li>
					<li><a href="#">超声</a></li>
					<li><a href="#">CT</a></li>
					<li><a href="#">核磁共振</a></li>
					<li><a href="#">分子影像</a></li>
					<li><a href="#">其它</a></li>
				</ul>
			</div>
			<div class="databox">
				<h1 class="tag3"></h1>
				<ul class="datalist">
					<li><a href="#">生化检验</a></li>
					<li><a href="#">辅助检查</a></li>
					<li><a href="#">其它</a></li>
				</ul>
			</div>
			<div class="databox">
				<h1 class="tag4"></h1>
				<ul class="datalist">
					<li><a href="#">医疗护理</a></li>
					<li><a href="#">科研教育</a></li>
					<li><a href="#">医学管理</a></li>
					<li><a href="#">其它</a></li>
				</ul>
			</div>
	  </div>
	  <div class="rightside" >
	  	<div class="rightbox1">
	  		<li class="title">最新数据</li>
	  		<li><a href="#">中国风湿病信息共享平台CRIP...</a><span>2014.12.12</span></li>
	  		<li><a href="#">风湿免疫疾病数据库...</a><span>2014.12.12</span></li>
        <li><a href="#">唇裂手术治疗效果数据集...</a><span>2014.12.12</span></li>
	  		<li><a href="#">矮身材诊疗数据库...</a><span>2014.12.12</span></li>
	  		<li><a href="#">中耳炎及相关疾病数据库...</a><span>2014.12.12</span></li>
	  	</div>
	  	<div class="rightbox1">
	  		<li class="title">在线培训</li>
	  		<li><a href="#">中国风湿病信息共享平台CRIP...</a><span>2014.12.12</span></li>
	  		<li><a href="#">风湿免疫疾病数据库...</a><span>2014.12.12</span></li>
        <li><a href="#">唇裂手术治疗效果数据集...</a><span>2014.12.12</span></li>
	  		<li><a href="#">矮身材诊疗数据库...</a><span>2014.12.12</span></li>
	  		<li><a href="#">中耳炎及相关疾病数据库...</a><span>2014.12.12</span></li>
	  	</div>
	  </div>
	</div>
</div>