<div class="datashare">
	<table class="table">
	<caption>医疗护理</caption>
	<thead>
		<th>资源名称</th>
		<th>关键词</th>
		<th style="width:255px">负责单位</th>
		<th style="width:90px">详情查看</th>
	<thead>
	<tbody>
			<td><a href="/datashare/manage/medicalcare/medicalcare01">北京协和医院疑难疾病护理数据集</a></td>
			<td>疑难疾病 护理 病例</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
	</tbody>
	</table>
</div>