<div class="datashare">
	<h1 calss="datatitle">疾病分类与编码（中国版）</h1>
	<ul class="nav-tabs" role="tablist" id="myTab" >
	  <li role="presentation" class="active"><a href="#metadata" role="tab" data-toggle="tab">元数据</a></li>
	  <li role="presentation"><a href="#summary" role="tab" data-toggle="tab">数据概要</a></li>
	  <li role="presentation"><a href="#show" role="tab" data-toggle="tab">数据展示</a></li>
	</ul>

	<div class="tab-content" id="myTabContent">
	  <div role="tabpanel" class="tab-pane active" id="metadata">
	  	<table class="metatable">
				<tbody>
					<tr >
						<td>标识符</td>
						<td>Clinic_Medicine_89</td>
					</tr>
					<tr >
						<td>名称</td>
						<td>疾病分类与代码（中国版）</td>
					</tr>
					<tr>
						<td>关键词</td>
						<td>疾病分类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;疾病代码&nbsp;&nbsp;&nbsp;&nbsp;中文版</td>
					</tr>
					<tr>
						<td>描述</td>
						<td>《疾病分类与代码》在广泛收集全国各省医疗机构使用的疾病分类库的基础上，经过认真地筛选，经百余名专家的努力，编制了这个《疾病分类与代码》表。《疾病分类与代码》的每一条疾病都来源于医院，编码员对每一条目的编码进行了认真地审核，并写明了编码的过程。每一条疾病还经过临床专家的审核，力求与临床命名疾病命名一致。</td>
					</tr>
					<tr>
						<td>最新提交日期</td>
						<td>2014-4-15</td>
					</tr>
					<tr>
						<td>访问限制</td>
						<td>2</td>
					</tr>
					<tr>
						<td>资源信息链接地址</td>
						<td><a href="http://www.kygl-training.com/pages/board/boarddetail_zcy.jsp?columnId=0081004&parentColumnId=00810&itemSeq=5143">http://www.kygl-training.com/pages/board/boarddetail_zcy.jsp?columnId=0081004&parentColumnId=00810&itemSeq=5143</td>
					</tr>
					<tr>
						<td>负责单位名称</td>
						<td>中国医学科学院北京协和医院</td>
					</tr>
					<tr>
						<td>负责单位通讯地址</td>
						<td>北京市东城区帅府园1号</td>
					</tr>
					<tr>
						<td>负责单位邮政编码</td>
						<td>100730</td>
					</tr>
					<tr>
						<td>负责单位联系电话</td>
						<td>010-69155717</td>
					</tr>
					<tr>
						<td>负责单位电子邮件地址</td>
						<td>ncmixh@126.com</td>
					</tr>
					<tr>
						<td>类目名称</td>
						<td>疾病</td>
					</tr>
					<tr>
						<td>类目编码</td>
						<td>MM1201</td>
					</tr>
					<tr>
						<td>分类标准名称</td>
						<td>人口健康科学数据共享分类与编码方案</td>
					</tr>
					<tr>
						<td>分类标准版本号</td>
						<td>1.2</td>
					</tr>
				</tbody>
	  	</table>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="summary">
	  	<h2>背景</h2>
	  	<p style="text-indent: 2em">ICD在医疗机构中已经被广泛、深入地用于医疗、研究、教学的资料检索，医院评审，重点学科建设，病种付费等医院管理和医疗质量评估等方面。随着深入的应用，医疗机构不满足于ICD详细程度，因此纷纷在扩展编码，形成医院、地区不同的临床应用版本。</p>
	  	<p style="text-indent: 2em">在国家卫计委员法规司、卫生信息统计中心的支持下，全国18个省48家机构的百余名编码专家、临床医师对疾病名称进行了审核及编码。在广泛收集全国各省医疗机构使用的疾病分类库的基础上，经过认真地筛选，每一条疾病都来源于医院，编码员对每一条目的编码进行了认真地审核，并写明了编码过程。每一条疾病还经过临床专家的审核，力求与临床命名疾病命名一致。所有需要的上报CDC的传染病、卫生行政部门要求报告的临床路径疾病、重点学科疾病、医院评审疾病等条目均收录其中。</p>
	  	<h2>使用说明</h2>
	  	<p>为了更好地使用《疾病分类与代码》表，提高分类质量，特做如下使用说明：</p>
	  	<h3>1. 《疾病分类与代码》与国际疾病分类（ICD-10）的关系</h3>
	  	<img src="img/dataimg/image001.png" style="width:350px">
	  	<p>《疾病分类与代码》包括了几组内容：</p>
	  	<div style="margin-left:25px">
		  	<ul >
		  		<li>ICD-10的22章目录编码（3位数）</li>
		  		<li>各章的节编码表（3位数）</li>
		  		<li>类目编码表（3位数）</li>
		  		<li>数亚目编码表（4位数）</li>
		  		<li>扩展编码表（6位数）</li>
	  	    </ul>
	    </div>
	  	<h3>2. 编码“.X”的意义</h3>
	  	<h3>3. 《疾病分类与代码》是一个分类代码表</h3>
	  	<h3>4. 关于尾码 “00”</h3>
	  	<h3>5. 关于编码位数</h3>
	  	<h3>6. 别名</h3>
	  	<h3>7. 第五位数应用</h3>
	  	<p>五位数编码是指细目编码，他们出现在第十三章肌肉骨骼系统和结缔组织疾病、第十九章损伤、中毒和外因的某些其他后果和第二十章疾病和死亡的外因中。ICD-10中细目是选择性使用的编码，为了避免条目过多，除十九章中表示开放性或闭合性的细目编码必须使用，其余不采用5位编码，也就是说除第十九章的5位数编码有特定意义外，其他章的5位数没有特定的意义。</p>
	  	<h3>8. 主码与附码</h3>
	  	<p >一个患者，如果患者有多个诊断，只有一个诊断是主要编码，其他都是附加编码。主码是指该编码可以作为主要是编码，也可以作为附加编码。附码是指该编码在任何情况下都只能作为附加编码，不能作为主要编码。</p>
	  </div>

	  <div role="tabpanel" class="tab-pane" id="show">
	  	<table class="datatable">
	  		<thead>
	  			<th>主要编码</th>
	  			<th>附加编码</th>
	  			<th>疾病名称</th>
	  			<th>英文名称</th>
	  		</thead>
	  		<tbody>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td style="width:30%">脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>

	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>

	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  			<tr>
	  				<td>A18.012†</td>
	  				<td>M49.0*</td>
	  				<td>脊柱结核性截瘫</td>
	  				<td>Spinal tuberculosis with paraplegia</td>
	  			</tr>
	  		</tbody>
	  	</table>
	  </div>
	</div>
	<script>
	  $(function () {
	    $('#myTab a:first').tab('show')
	  })
	</script>
</div>