<div class="datashare">
	<table class="table">
	<caption>急性及传染性疾病</caption>
	<thead>
		<th>资源名称</th>
		<th>关键词</th>
		<th style="width:255px">负责单位</th>
		<th style="width:90px">详情查看</th>
	<thead>
	<tbody>
		<tr>
			<td><a href="/datashare/disease/acuteinfectious/acuteinfectious01">地震颌面伤救治技术规范</a></td>
			<td>地震 颌面伤 救治技术 规范</td>
			<td>四川大学华西口腔医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr>    
			<td><a href="/datashare/disease/acuteinfectious/acuteinfectious02">地震颌面创伤救治预案</a></td>
			<td>地震 颌面 创伤 救治预案</td>
			<td>四川大学华西口腔医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td><a href="/datashare/disease/acuteinfectious/acuteinfectious03">汶川地震颌面部创伤伤员数据库 </a></td>
			<td>颌面部 创伤 地震</td>
			<td>四川大学华西口腔医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td><a href="/datashare/disease/acuteinfectious/acuteinfectious04">地震灾难相关文献数据库</a></td>
			<td>地震 灾害 文献</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td><a href="/datashare/disease/acuteinfectious/acuteinfectious05">5.12地震伤情数据集</a></td>
			<td>5.12 地震 伤情</td>
			<td>四川大学华西医院 北京协和医院 </td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td><a href="/datashare/disease/acuteinfectious/acuteinfectious06">地震儿童伤救治指南——供参考</a></td>
			<td>地震 儿童 救治 规范</td>
			<td>北京协和医院 沈阳盛京医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td><a href="/datashare/disease/acuteinfectious/acuteinfectious07">地震孕产妇伤救治指南——供参考</a></td>
			<td>地震 孕产妇 救治 规范</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
	</tbody>
	</table>
</div>