<div class="datashare">
	<table class="table">
	<caption>慢性病</caption>
	<thead>
		<th>资源名称</th>
		<th>关键词</th>
		<th style="width:255px">负责单位</th>
		<th style="width:90px">详情查看</th>
	<thead>
	<tbody>
		<tr >
			<td><a href="/datashare/disease/common/common01">中国风湿病信息共享平台CRIP</a></td>
			<td>风湿病 系统性红斑狼疮 检测 诊断</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr >
			<td><a href="/datashare/disease/common/common02">风湿免疫疾病数据库</a></td>
			<td>免疫 风湿 诊断 科普 统计</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
	</tbody>
	</table>
</div>