<div class="datashare">
	<table class="table">
	<caption>其它</caption>
	<thead>
		<th>资源名称</th>
		<th>关键词</th>
		<th style="width:255px">负责单位</th>
		<th style="width:90px">详情查看</th>
	<thead>
	<tbody>
		<tr >
			<td><a href="/datashare/disease/diseaseother/diseaseother01">矮身材诊疗数据库</a></td>
			<td>垂体 下丘脑 矮身材 诊疗规范</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr >
			<td><a href="/datashare/disease/diseaseother/diseaseother02">沈阳地区无偿献血电子收录数据集-1，2</a></td>
			<td>献血 无偿献血 血型</td>
			<td>辽宁省沈阳中心血站</td>
			<td>查看数据详情</td>
		</tr>
	</tbody>
	</table>
</div>