<div class="datashare">
	<table class="table">
	<caption>疑难罕见疾病</caption>
	<thead>
		<th>资源名称</th>
		<th>关键词</th>
		<th style="width:255px">负责单位</th>
		<th style="width:90px">详情查看</th>
	<thead>
	<tbody>
		<tr >
			<td><a href="rare--01.html">中国风湿病信息共享平台CRIP</a></td>
			<td>风湿病 系统性红斑狼疮 检测 诊断</td>
			<td>中国医学科学院北京协和医院 </td>
			<td>查看数据详情</td>
		</tr>
		<tr >
			<td>风湿免疫疾病数据库</td>
			<td>免疫 风湿 诊断 科普 统计</td>
			<td>北京协和医院 </td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td>唇裂手术治疗效果数据集</td>
			<td>唇裂 手术治疗</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td>矮身材诊疗数据库</td>
			<td>垂体下丘脑疾病 数据库 </td>
			<td>北京协和医院内分泌科</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td>中耳炎及相关疾病数据库</td>
			<td>中耳炎 手术 数据库</td>
			<td>中国医学科学院北京协和医院耳鼻咽喉科</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td>盆底功能障碍疾病诊疗数据库</td>
			<td>盆腔器官脱垂 植入网片的盆底重建术 盆底组织损伤 经阴道无张力尿道中段悬吊术 数据库 </td>
			<td>中国医学科学院北京协和医院妇产科</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td>survivin在乳腺和结肠浸润癌、原位癌和结肠良性肿瘤中的表达情况</td>
			<td>乳腺癌 结肠癌 鉴别诊断 Surivivin </td>
			<td>北京协和医院 </td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td><a href="/datashare/disease/rare/rare01">疾病分类与代码（中国版）</a></td>
			<td>疾病分类 疾病代码 中文</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
	</tbody>
	</table>
</div>