<div class="datashare">
	<table class="table">
	<caption>疑难罕见疾病</caption>
	<thead>
		<th>资源名称</th>
		<th>关键词</th>
		<th style="width:255px">负责单位</th>
		<th style="width:90px">详情查看</th>
	<thead>
	<tbody>
		<tr>
			<td><a href="/datashare/disease/rare/rare01">唇裂手术治疗效果数据集</a></td>
			<td>唇裂 手术治疗</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>

		<tr>
			<td><a href="/datashare/disease/rare/rare02">协和POEMS临床数据集</a></td>
			<td>POEMS 临床 文章</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
		<tr>
			<td><a href="/datashare/disease/rare/rare03">疑难复杂皮肤病图解集</a></td>
			<td>皮肤病 图片 临床 病理</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
	</tbody>
	</table>
</div>