<div class="datashare">
	<table class="table">
	<caption>肿瘤</caption>
	<thead>
		<th>资源名称</th>
		<th>关键词</th>
		<th style="width:255px">负责单位</th>
		<th style="width:90px">详情查看</th>
	<thead>
	<tbody>
		<tr >
			<td><a href="/datashare/disease/tumor/tumor01">survivin在乳腺和结肠浸润癌、原位癌和结肠良性肿瘤中的表达情况 </a></td>
			<td>乳腺癌 结肠癌 鉴别诊断 Surivivin</td>
			<td>中国医学科学院北京协和医院</td>
			<td>查看数据详情</td>
		</tr>
	</tbody>
	</table>
</div>